/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--grey-1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--grey-4);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--grey-5);
}
