/* Sidebar itens */
.item-nav {
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    font-size: 25px;
    color: var(--letter-color);
    transition: 0.3s;
    cursor: pointer;
    overflow: hidden;
    max-height: 45px;
}

.item-nav > a {
    overflow: hidden;
    font-size: 25px;
    text-decoration: none;
    color: var(--letter-color);
    position: relative;
    bottom: -10px;
    margin-left: 20px;
}

.item-nav.selected > .ico-chat, .item-nav.selected > .ico-sheet, .item-nav.selected > .ico-settings, .item-nav.selected > .ico-book, .item-nav.selected > .ico-camp {
    background-color: var(--base);
}

div.item-nav.selected {
    background-color: var(--grey-1);
}

div.item-nav:hover, div.item-nav:hover span, div.item-nav:hover a, a.item-nav:hover {
    color: var(--white);
}
