/* Sidebar itens */
.item-nav {
    display: block;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    font-size: 25px;
    color: var(--letter-color);
    transition: 0.3s;
    cursor: pointer;
    overflow: hidden;
    max-height: 45px;
}

.item-nav > .name {
    display: inline-block;
    margin-top: 10px;
    margin-left: 6px;
}

.item-nav > .ico-down {
    display: inline-block;
    margin-top: 10px;
    position: relative;
    float: right;
}


.item-nav.selected > .ico-chat, .item-nav.selected > .ico-sheet, .item-nav.selected > .ico-settings, .item-nav.selected > .ico-book, .item-nav.selected > .ico-camp {
    background-color: var(--base);
}

.item-nav.selected {
    background-color: var(--grey-1);
}

.item-nav:hover, .item-nav:hover span, .item-nav:hover a, a.item-nav:hover {
    color: var(--white);
}
