/* The dropdown of SideBar */
.drop-down-content > .item-nav {
    font-size: 20px;
    margin-top: 7px;
}

.drop-down-content > .item-nav.selected {
    background-color: var(--grey-2);
}

.drop-down-content {
    margin: 0px;
    padding-left: 15px;
    padding: 0px;
    max-height: 0;
    transition: max-height 0.15s ease-out;
    background-color: var(--grey-2);
    overflow: hidden;
}

.drop-down-content.drop-open {
    max-height: 500px;
    transition: max-height 0.25s ease-in;
}

.drop-item {
    font-size: 16px;
}

