@import url("tabs.css");
@import url("sheet.css");
@import url("map.css");

.campaing {
    position: relative;
    top: 15px;
    height: 96vh;
    left: 0px;
    margin-right: 10px;
    background-color: var(--grey-1);
    border-radius: .5rem .5rem .5rem .5rem;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    transition: 5s;
}
