@import url("sheet_resume.css");

.new-sheet {
    width: 98%;
    height: 6%;
    margin: auto;
    margin-top: 20px;
    background-color: var(--grey-2);
    color: var(--letter-color);
    border-radius: .5rem;
    font-size: 20px;
}

.new-sheet > p {
    margin: 0px;
    padding-top: 0.8%;
    padding-left: 20px;
}

.new-sheet:hover, .new-sheet:hover .new-sheet > p {
    color: var(--white);
    cursor: pointer;
}

.first-line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.middle-image {
    transition: .5s ease;
    opacity: 1;
    position: relative;
    left: 50%;
    bottom: 65%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.character-image {
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 45px;
    margin-top: 45px;
    overflow: hidden;
    border-radius: 50rem;
}

.character-image:hover {
    cursor: pointer;
}

.basic-informations {
    background-color: var(--grey-2);
    margin: auto;
    flex: 2 0 40%;
    height: 200px;
    margin-left: 45px;
    margin-right: 25px;
    margin-top: 45px;
    margin-bottom: 0;
    border-radius: .5rem;
}

.attrs-informations {
    display: inline-block;
    background-color: var(--grey-3);
    margin: auto;
    flex-grow: 3;
    flex-shrink: 5;
    width: 750px;
    margin-left: 45px;
    margin-top: 45px;
    margin-right: 25px;
    border-radius: .5rem;
}

.equips-informations {
    background-color: var(--grey-2);
    margin: auto;
    flex: 0 1 825px;
    height: 200px;
    margin-left: 45px;
    margin-right: 25px;
    margin-top: 45px;
    border-radius: .5rem;
}
